.main-container {
    max-width: 900px;
}
.content-container {
    margin-bottom: 100px;
}
.top-img {
    min-height: 200px;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("img/top.jpg");
}
.menu-item {
    border-bottom-color: #f3f3f3!important;
}